<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
</head>
<body>
    <header>
        <div class="log">
            <img src="" alt="">
        </div>
        <nav>
            <a href="/">Главная</a>
            <a href="/about">О нас</a>
            <a href="/contact">Контактные данные</a>
        </nav>
    </header>
    <footer>

    </footer>
</body>
</html>