<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
</head>
<body>
    <header>
        <div class="log">
            <img src="" alt="">
        </div>
        <nav>
            <a href="/">Главная</a>
            <a href="/about">О нас</a>
            <a href="contact.html">Контактные данные</a>
        </nav>
    </header>
    <div class="container">
        <div class="content">
             <div class="first">
                <h2>title</h2>
                <p>desc</p>
                <p>date</p>
            </div>
            <div class="second">
                <img src="{% static "images/img1.jpg" %}" alt="gg" >
            </div>
        </div>
        <div class="content">
             <div class="first">
                <h2>title</h2>
                <p>desc</p>
                <p>date</p>
            </div>
            <div class="second">
                <img src="{% static "images/img1.jpg" %}" alt="gg" >
            </div>
        </div>
    </div>
    <footer>

    </footer>
</body>
</html>